body{
    padding-top: 150px;
}

.box-shadow{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08),
                0 2px 4px 0 rgba(0,0,0,.08)
    ;
}
#blockqoute-background-empresa{
    background: url(../img/bl/blockout.jpg);
    background-size: cover;
    background-position: center;
    
}

.bg-azul{
    background-color: #0512c0;
}
.bg-azul-claro{
     background-color: #0646bb;
}
.cor-azul-escuro{
    color: #000084;
}

.cor-azul-claro{
    color: #00acea;
}
.cor-branca{
    color: white !important;
}
.cor-cinza{
    color: grey;
}

.fonte-contato{
    font-size: 40px;
}
#background-ml-power{
    background-image: url(../img/mlpower/top/backgorund.jpg);
    background-size: cover;

}

#blockqoute-background{
    background: url(../img/bl/teste02.jpg);
    background-size: cover;
}
.cor-icones-branco{
    color: white !important;
}

.tamanho-font-icones{
    font-size: 15px;
}

#background-azul-novo{
    background-color: #353a3f;
}



@media only screen and (max-width: 480px) {
    .tamanho-video {
        width: 400px !important;
    }
  }


@media only screen and (max-width: 480px) {
    #tamanho-font-blockout {
        font-size: 30px!important;
    }
  }

  @media only screen and (max-width: 480px) {
    #redondo-mobile {
        width: 130px !important;
        height: 30px !important;
    }
  }

@media only screen and (max-width: 480px) {
    #margin-top {
        margin-top: 30px !important;
    }
  }

@media only screen and (max-width: 480px) {
    #caixa {
        width: 250px !important;  
        height: 250px !important;
    }
  }

  @media only screen and (max-width: 480px) {
    #foto-textos {
        width: 345px !important;  
        height: auto !important;
    }
  }
@media only screen and (max-width: 480px) {
    #video-carrossel {
        width: 100% !important;  
        height: 400px !important;
    }
  }

@media only screen and (max-width: 480px) {
    #largura-video-modal {
        width: 380px !important;  
        height: auto !important;
    }
  }

@media only screen and (max-width: 480px) {
    #logo-mobile {
        width: 240px !important;
        height: auto !important;
        margin-left: 40px;
    }
  }

@media only screen and (max-width: 480px) {
    #titulo-mobile {
        font-size: 30px !important;
            
    }
  }

  @media only screen and (max-width: 480px) {
    #texto-mobile {
        font-size: 16px !important;      
    }
  }


@media only screen and (max-width: 480px) {
    #img-360 {
        width: 300px;
        height: auto;      
    }
  }

  @media (max-width: 767px){
      #blockqoute-background .display-4{
          font-size: 25px;

      }
      #logo-top{
          width: 200px;
          height: auto;
      }
      body{
          padding-top: 130px;
      }
      
  }

  @media (max-width: 767px){
      body{
          padding-top: 0px;
      }
      .fixed-top{
          position: relative !important;
      }
  }

  @media (max-width: 767px){
    .font-size-perguntas{
        font-size: 16px !important;
    }
  }