body{
    padding-top: 150px;
}

.box-shadow{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.08),
                0 2px 4px 0 rgba(0,0,0,.08)
    ;
}
.bg-laranja{
    background-color: #DD9F3D;
}
.bg-azul-escuro{
     background-color: #1360A3;
}
.cor-azul-escuro{
    color: #1360A3 !important;
}

.cor-laranja{
    color: #DD9F3D !important;
}
.cor-cinza{
    color: grey;
}
.cor-verde{
    color: #A3BD34;
}

.fonte-contato{
    font-size: 40px;
}
hr{
    margin: 2px;
}

#blockqoute-background-empresa-top{
    background: url(../img/empresa/conferencia.jpg);
    background-size: cover;
    background-position: center;
}
#blockqoute-background-connexoffice{
    background: url(../img/produtos/connexOffice/backgorund-connexoffice);
    background-size: cover;
    background-position: center;
}

#blockqoute-background{
    background: url(../img/bg-quote.jpg);
    background-size: cover;
    background-position: center;
}

#blockqoute-background-empresa{
    background: url(../img/empresa/brazil-1542335_1920.jpg);
    background-size: cover;
    background-position: center;
    
}

#blockqoute-background-blog{
    background: url(../img/Blog/biblioteca-pg-blog-backgorund.jpg);
    background-size: cover;
    background-position: center;
    
}

#blockqoute-background-noticia{
    background: url(../img/noticias/backgorund-paginas-blog.jpg);
    background-size: cover;
    background-position: center;
    
}

.cor-icones-branco{
    color: white !important;
}
.backgorund-verde{
    background-color: #A3BD34;
}
.backgorund-azul-escuro{
    background-color: #000084;
}

.backgorund-azul-claro{
    background-color: #00acea;
}

.zoom{
    overflow: hidden;
}
.zoom img{
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.zoom:hover img{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
@media only screen and (max-width: 767px) {
    .banner-oferta {
    height: 300px;
    height: auto;
    

    }
  }


@media only screen and (max-width: 767px) {
    .tamanho-font-respostas {
    font-size: 10px !important;
    text-align: center;

    }
  }

@media only screen and (max-width: 767px) {
    .tamanho-font-perguntas {
    font-size: 15px !important;
    text-align: center;

    }
  }

@media only screen and (max-width: 767px) {
    .tamanho-font-oferta {
    font-size: 25px !important;
    text-align: center;

    }
  }

  @media only screen and (max-width: 767px) {
    .text-align-center {
    text-align: center;

    }
  }

@media only screen and (max-width: 767px) {
    .tamanho-icones {
    width: 130px !important;
    height: auto; 

    }
  }

@media only screen and (max-width: 767px) {
    .tamanho-font-noticia-midia {
    margin-left: auto;
    margin-right: auto; 

    }
  }

@media only screen and (max-width: 767px) {
    .tamanho-font-noticia-titulo {
        font-size: 20px !important;
    }
  }

  @media only screen and (max-width: 767px) {
    .tamanho-font-noticia-texto {
        font-size: 13px !important;
        margin-top: 20px !important;
    }
  }


@media only screen and (max-width: 767px) {
    .tamanho-mapas {
        width: 200px !important;
        height: auto;      
    }
  }

@media only screen and (max-width: 767px) {
    .video-produto {
        width: 200px !important;
        height: auto;      
    }
  }

@media only screen and (max-width: 767px) {
    .notebook {
        width: 300px !important;
        height: auto;      
    }
  }

@media only screen and (max-width: 767px) {
    .teste {
        font-size: 25px !important;  
        text-align: center !important;  
    }
  }

@media only screen and (max-width: 767px) {
    .mobile-chamada-connexoffice {
        font-size: 35px !important;
        text-align: center;    
    }
  }

  @media only screen and (max-width: 767px) {
    .mobile-texto-chamada-connexoffice {
        text-align: center !important; 
    }
  }



@media only screen and (max-width: 767px) {
    .mobile-icon-connexoffice {
        width: 80px !important;
        height: auto;      
    }
  }

@media only screen and (max-width: 767px) {
    .mobile-connexoffice {
        width: 300px !important;
        height: auto;      
    }
  }

@media only screen and (max-width: 767px) {
    .img-360 {
        width: 300px !important;
        height: auto;      
    }
  }
  @media (max-width: 767px){
    .font-blocaut{
        font-size: 25px !important;
    }
    }

  @media (max-width: 767px){
      #blockqoute-background .display-4{
          font-size: 25px;

      }
      #logo-top{
          width: 200px;
          height: auto;
      }
      body{
          padding-top: 130px;
      }
      
  }

  @media (max-width: 767px){
      body{
          padding-top: 0px;
      }
      .fixed-top{
          position: relative !important;
      }
  }

  @media (max-width: 767px){
    .font-size-perguntas{
        font-size: 18px !important;
    }
  }
  @media only screen and (max-width: 767px) {
    .tamanho-texto{
        font-size: 30px !important;     
    }
  }
  @media only screen and (max-width: 767px) {
    .tamanho-texto-2{
        font-size: 40px !important;     
    }
  }